@import url(app.css);

.login-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, var(--light-blue), var(--bold-text-color));
}

.login-container,
.register-container {
  flex-direction: column;
  gap: 2rem;
  width: 30%;
  background-color: var(--white);
  padding: 2rem 3rem;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: fit-content;
}

.form-heading {
  font-size: 2rem;
  color: black;
}

.register-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.login-container p,
.register-container p {
  color: black;
}

.login-container button,
.register-container button {
  color: black;
}

.login-container button:hover,
.register-container button:hover {
  background-color: rgb(231, 190, 56);
}

.register-container button:hover {
  background-color: rgb(216, 168, 12);
}

.form-input,
textarea,
select {
  font-size: 1rem;
  background-color: rgb(234, 234, 234);
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 5px;
  font-family: var(--font-family);
}

.form-input:focus,
textarea:focus,
select:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.login-link {
  color: var(--darker-blue);
}

/* Media Queries for Responsive Design */
@media (max-width: 1184px) {
  .login-container,
  .register-container {
    width: 30%;
  }
}

@media (max-width: 1120px) {
  .login-container,
  .register-container {
    width: 35%;
  }
}

@media (max-width: 746px) {
  .login-container,
  .register-container {
    width: 50%;
    padding: 1.5rem;
  }
}

@media (max-width: 600px) {
  .login-container,
  .register-container {
    width: 70%;
    padding: 1.5rem;
    padding-top: 2rem;
  }

  .form-heading {
    font-size: 1.5rem;
  }

  .form-input {
    padding: 0.6rem 1rem;
  }
}

@media (max-width: 408px) {
  .login-container,
  .register-container {
    width: 90%;
    padding: 1rem;
  }

  .form-heading {
    font-size: 1.2rem;
    text-align: center;
  }

  .form-input {
    padding: 0.5rem 0.8rem;
    font-size: 0.9rem;
  }

  button {
    font-size: 0.9rem;
    padding: 0.6rem 1rem;
  }
}
